# Byte-compiled / optimized / DLL files
__pycache__/

# SQL Connections from VSC
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# DB info
*.yml
.toml

#
Test.csv
.DS_Store
sentiment.pt
LSTM.pt
ETL_TestNotebook.ipynb